.page {
  composes: page from "../../styles/common-page.module.css";
}

.heading {
  composes: heading from "../../styles/common-page.module.css";
}

.description {
  composes: description from "../../styles/common-page.module.css";
}
